div.gif-images{
    margin: auto;
    float: left;
    display: block;
    position: relative;
}

.addedGifs{
    margin: 5px;
}

#form{
    margin-top: 30px;
    margin-bottom: 30px;
}

#animalButtons button{
    margin: 3px 3px;
}

.btn-group-xs>.btn, .btn-xs{
    position: absolute;
    margin: 15px;
}
